.container{
    display: grid;
    min-height: 100%;
    grid-template-rows: .5fr 5fr 2fr;
}

/*@media(max-width: 768px){} @media(max-width: 480px){}*/

.header{
    background-color: teal;
}
.main{
    background-color: lightblue; 
    align-self: center;
    justify-self: center;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: .75em;
}

.footer-item{
    background-color: lightgreen;
}