<div class="container">
    <div class="header">
        <div class="header-item header-item1">
            SELFF LOGO
        </div>
        <div class="header-item header-item2">
            <button type="button" class="btn btn-secondary btn-sm" (click)="login();">LOGIN</button>
            <button type="button" class="btn btn-secondary btn-sm" (click)="signup();">SIGN UP</button>
        </div>
    </div>
    <div class="main">
        <div class="main-item main-item1">
            <app-home-content></app-home-content>
        </div>
    </div>
    <div class="footer">
        <div class="footer-item footer-item1"></div>
        <div class="footer-item footer-item2"></div>
        <div class="footer-item footer-item3"></div>
        <div class="footer-item footer-item4"></div>
    </div> 
</div>

<!--Insert when ready for elements, leave griding to home-page

<app-home-header></app-home-header>
<app-home-content></app-home-content>
<app-home-footer></app-home-footer>
-->
