<div class="container">
    <div class="header">
        <div class="header-item header-item1">LOGO</div>
        <div class="header-item header-item2">LOGIN/SIGN UP</div> 
    </div>
    <div class="main">
        <app-home-content></app-home-content>
    </div>
    <div class="footer">
        <div class="footer-item footer-item1">FOOTER</div>
        <div class="footer-item footer-item2">FOOTER</div>
        <div class="footer-item footer-item3">FOOTER</div>
        <div class="footer-item footer-item4">FOOTER</div>
    </div> 
</div>

<!--Insert when ready for elements, leave griding to home-page

<app-home-header></app-home-header>
<app-home-content></app-home-content>
<app-home-footer></app-home-footer>
-->
